@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&family=Oleo+Script+Swash+Caps:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html{
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}

:root{
  --f-mont:'Montserrat', sans-serif;
  --ff-oleo:'Oleo Script Swash Caps', cursive;
  --clr-main:#35a2ce;
  --clr-white:#ffffff;
  --clr-dark-blue:#110c46;
}
body{
  
font-family: var(--f-mont);
background-color: var(--clr-white);
color:var(--clr-dark-blue)
}
img{
  width:100%;
  height: auto;
}
.header{
  height: 60vh;
  
}
.navbar{
  
  
  height:5rem;
  background-color: var(--clr-main);
  color:var(--clr-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-download{
  padding: 0.8rem 1.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 10px;
  margin: 1rem ;
  color:var(--clr-white);
  background-color: aqua;
  border:2px solid var(--clr-main);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-download:hover{
  background-color: transparent;
  color: var(--clr-main);
  border-color: var(--clr-dark-blue);
  cursor: pointer;

}
hr{
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.section-center{
  padding:3rem 0 ;
  width:80%;
  margin:auto;
}
.section-title{
  font-size: 2.25rem;
  font-weight: 900;
  color:var(--clr-main);
  margin: 1rem auto;
  text-align: center;
}
.underline{
  width: 10%;
  margin:0rem auto;
  height: 0.5rem;
  background-color: var(--clr-main);

}
.list-link{
  text-decoration: none;
  list-style: none;
  
}
.list-container{
  display:flex;
}
.logo{
  font-size: 1.5rem;
  font-family: var(--ff-oleo);
  font-weight: 700;

}


.list-item{
  margin:1rem;
  list-style: none;

}

.list-link{
  font-size: 1.2rem;
  color: var(--clr-dark-blue);
  font-weight: 700;
}
.list-link:hover{
  color: #ec16ac;
}
.hero-section{
  width:80%;
  margin:auto;
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: calc(60vh-5rem);
}

.contact-link-container{
  text-decoration: none;
  list-style-type: none;
  display: flex;
  align-items: center;
  min-height:2rem ;
}
.contact-item{
  margin: 0 1rem;
  padding-top:2rem ;
}
.contact-link{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-main);
}
span{
  color:purple;
  font-size: 900;
}

h1{
  margin-top:12px ;
}
p{
  margin-top: 24px;
}
.contact-link:hover{
  color:violet;

 }
 .hero-img-container{
  margin-top: 4rem;
  width:20rem;
  height:20rem;

 }
 .hero-img-container img{
  border-radius: 20%;
 }
 .skill-list-container{

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 2rem;
 }
 .skill-list-item{
  width:8rem;
  height:8rem;
  background-color: var(--clr-white);
  box-shadow:4px 3px  rgba(0,0,0,0.15) ;
  border-radius: 10px;
  padding:1rem;
 }



 

@media screen  and (max-width:768px) {

.navbar{
  flex-direction: column;
  justify-content: space-between;



}
 .logo{
  font-size: 1rem;
 } 
 .list-link{
  font-size: 1rem;
 }
 .hero-section{
  flex-direction: column;
  text-align: center;
 }
 .contact-link-container{
  justify-content: center;
 }
 
}


 

